.btn-sq-lg {
  width: 200px !important;
  height: 200px !important;
  background-color: #FCFF52;
  border-width: 0;
  border-radius: 20% !important;
  display: table-cell;
  vertical-align: middle !important;
  color: #094074;
  font-weight: bold;
}

.btn-sq-lg:hover, .btn-sq-lg:active, .btn-sq-lg:focus {
  background-color: rgb(121, 122, 28);
  color: #094074;
  border-width: 0;
}

body {
  background-color: #FC7A57;
}

.app-row {
  margin-top: 10%;
}