h1 {
    padding: 30px 0 0 0;
    font-size: 60px !important;
}

h2 {
    padding: 30px 0 40px 0;
    font-size: 23px !important;
}

.btn-primary {
    font-size: 15px !important;
}

.standardmarigin {
    padding: 10px
}

.standardlength {
    width: 25%;
}

#displayWikiArticlesInput {
    height: 28px;
    font-size: 23px;
}