body {
    color: #001F54;
    background: #F5F5F5;
}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
    padding: 50px 0 10px;
}

#icon, #weather {
    color: #89023E;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0 50px;
}