body { 
	background: url("../img/bg.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	color: #F8290A;
	padding: 125px 0 50px;
	font-size: 85px;
	font-family: 'Patrick Hand SC', cursive;
}

h2 {
	font-size: 2em;
	font-family: 'Amatic SC', cursive;
}

p {
	font-size: 30px;
	font-family: 'Amatic SC', cursive;
}

#errorDiv {
	color:red;
}


.jumbotron {
	background-color:rgba(255,255,255,0.8);
}

.centerV {
	position:absolute;
	top: 50%;
	left: 50%;
	width:30em;
	height:18em;
	margin-top: -9em; /*set to a negative number 1/2 of your height*/
	margin-left: -15em; /*set to a negative number 1/2 of your width*/
	border: 1px solid #ccc;
	background-color:rgba(255,255,255,0.8);
}

.btn-quote { 
  color: #ffffff; 
  background-color: transparent; 
  border-color: #F8290A; 
  font-size: 30px;
} 
 
.btn-quote:hover, 
.btn-quote:focus, 
.btn-quote:active, 
.btn-quote.active, 
.open .dropdown-toggle.btn-quote { 
  color: #ffffff; 
  background-color: #F8290A; 
  border-color: none; 
} 
 
.btn-quote:active, 
.btn-quote.active, 
.open .dropdown-toggle.btn-quote { 
  background-image: none; 
} 
 
.btn-quote.disabled, 
.btn-quote[disabled], 
fieldset[disabled] .btn-quote, 
.btn-quote.disabled:hover, 
.btn-quote[disabled]:hover, 
fieldset[disabled] .btn-quote:hover, 
.btn-quote.disabled:focus, 
.btn-quote[disabled]:focus, 
fieldset[disabled] .btn-quote:focus, 
.btn-quote.disabled:active, 
.btn-quote[disabled]:active, 
fieldset[disabled] .btn-quote:active, 
.btn-quote.disabled.active, 
.btn-quote[disabled].active, 
fieldset[disabled] .btn-quote.active { 
  background-color: #F8290A; 
  border-color: #F8290A; 
} 
 
.btn-quote .badge { 
  color: #F8290A; 
  background-color: #ffffff; 
}